a{
    text-decoration: none;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/**SPINNER**/

svg{
  
  position: fixed;
  top: 40%; left: 30%;
  width: 150px;
  height: 150px;
  animation: rotate 2s linear infinite;
}

svg circle{
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 10;
  stroke: #9356DC;
  stroke-linecap: round;
  transform: translate(5px,5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  animation: animate 4s linear ;
}

@keyframes animate
{
  0%
  {
    stroke-dashoffset: 440;
  }
  50%
  {
    stroke-dashoffset:0;
  }
  50.1%
  {
    stroke-dashoffset: 880;
  }
}
@keyframes rotate
{
  0%
  {
    transform: rotate(0deg)
  }
  100%
  {
    transform: rotate(360deg)
  }
}

.all{

        display: block;
        animation: fadeIn 4s;
    }
    
    @keyframes fadeIn {
        from {
            opacity: 0.1;
        }
    
        to {
            
            opacity: 0.1;
        }
    }


/**HEADER**/
.svg-logo{
    width: 50%;
    margin-left: 22vw;
    margin-bottom: 1vh;
}

.location{ 
    width: 100%;
    margin-top: -2vh;
    background-color: #eaeaea;
    box-shadow:  0 -2px 4px #BEBEBE;
}

.location p{
    width: 50%;
    padding-top: 10px;
    margin-left: 32vw;
    font-weight: 500;
    height: 6vh;
}
.location i{
    color: #262626;
    margin-right: 1vw;
}

.info-header{
    background-color: #f6f6f6;
    width: 100%;
    height: auto;
    margin-top: -5vw;
    padding-top: 5px;
}
.info-title{
    width: 100%;
    font-size: 12px;
    text-align: center;
    line-height: 4vh;
    font-weight: 500;
}
.info-details{
    width: 100%;
    color: #3A3A3A;
    margin-top: 0vh;
    font-size: 16px;
    font-weight: 400;
    line-height: 3vh;
}

/**HEADER BTN**/
.header-btn{
    margin-top: 2vh;
    margin-left: 22vw;
}
.explore-btn{
    font-size: 14px;
    width: 50vw;
    height: 43px;
    color: #fff;
    background-image: linear-gradient(to bottom right,#FF79DA,#9356DC) ;
    border-radius: 20px;
    border: none;
    box-shadow: 0 4px 10px #A9A9A9;
    cursor: pointer;
}
.explore-btn:active{
    box-shadow: 0 6px 10px #7C7C7C;
    transform: scale(1.05);
    transition: 0.3s;
}

/**NAV**/
nav{
    padding-bottom: 0;
}
nav h2{
    font-size: 20px;
    margin-left: 5vw;
}
.working-cards{
    border: 2px solid transparent;
    border-radius: 20px;
    margin-bottom: 3vh;
    margin-left: 7vw;
    text-align: center;
    width: 85%;
    height: 60px;
    background-color: #f6f6f6;
    box-shadow: 0 3px 10px #CDCDCD;
}
.working-cards p{
    width: 100%;
    margin-top: -5vh;
    font-weight: 600;
}

.working-cards:hover{
    background-color: #f5edff;
    box-shadow: 0 3px 10px #c1b2d4;
    transform: scale(1.05);
    transition: 0.4s;
    
}

.working i{
    width: 4%;
    color: #757575;
    margin-right: 4vw;
    margin-left: -10vw;
}
.working i:hover{
    color: #9356DC;
    
}
.number{
    width: 100%;
    color: #fff;
    background-color: #9356DC;
    border: 1px solid #9356DC;
    border-radius: 20px;
    width: 6vw;
    height: 23px;
    text-align: center;
    margin-left: -5vw;
    font-weight: 400;
    font-size: 15px;
}


/**SECTION**/
section{
    
    background-color: #f6f6f6;
    height: auto;
}

.restaurant-title{
    margin-top: 7vh;
    padding-top: 3vh;
    margin-left: 4vw;
}

.places,.places-2{
    margin-left: 5vw;
   
}

.places-cards{
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    background-color: #fff;
    border-radius: 15px;
    width: 85%;
    height: auto;
    margin-bottom: 3vh;
    box-shadow: 0 3px 10px #CDCDCD;
    margin-left: 2.5vw;
}

.places-img{
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.places-details{
    color: #000;
    line-height: 0;
    margin-left: 2vw;
}
.places-cards:hover{
    box-shadow: 0 5px 10px #949494; 
    transition: 0.4s;
}
.icons{
    position: absolute;
    margin-left: 67vw;
    margin-top: -5vh;
    font-size: 21px;
}

  .fa-heart:hover {
    color: #9356DC;
    font-weight: bold;
    transition: 0.2s;
}

.places__effect{
    
    position: absolute;
    margin-left: 48vw;
    margin-top: -30vh;
    width: 25%;
    height: auto;
    background-color: #99E2D0;
    border-radius: 3px 3px;
}

.effect__p{
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    color: #008766;
    margin-left: 4vw;
}


/**FOOTER**/
footer{
    height: auto;
    background-color: #353535;
    color: #fff;
   
}
footer a{
    color: #fff;
    font-size: 14px;
}
.footer-header{
    font-family: shrikhand;
    font-size: 19px;
    font-weight: lighter;
    margin-left: 10vw;
    padding-top: 0.1vh;
}

.footer-details{
    color: #fff;
    margin-left: 10vw;
    margin-top: -3vh;
}

.end i{
margin-right: 2vw;
}


/**MEDIA TABLETTE**/
@media screen and (min-width: 768px) {


    /**MEDIA SPINNER TAB**/

    svg{
  
        position: fixed;
        top: 40%; left: 37%;
        width: 150px;
        height: 150px;
        animation: rotate 2s linear infinite;
      }

      body{
        background: #fff ;
      }
    /**MEDIA HEADER**/ 

    .logo{
    
    border-radius: 20px 20px 0 0;
    width: 85%;
    background-color: #fff;
    }
    .svg-logo{
        margin-top: 1vh;
        margin-left: 27vw;
    }
    .location{
        margin-top: -1.5vh;
        width: 82%;
        height: 6vh;
        margin-left: 4vw;
        border-radius: 20px 20px;
    }
    .location p{
        margin-left: 33vw;
    }

    .info-header{
        width: 82%;
        margin-left: 4vw;
        margin-top: -1.5vh;
        border-radius: 0 0 20px 20px;
    }
    .info-title{
        margin-left: 0vw;
        margin-top: -2vh;
        font-size: 18px;
    }

    .info-details{
        font-size: 17px;
        margin-top: -1vh;
        margin-left: 0vw;
    }

    .explore-btn{
        width: 25vw;
        margin-left: 6vw;
        margin-top: -2vh;
    }

    /**MEDIA NAV**/
    nav{
        background-color: #fff;
        width: 85%;
        height: 32vh;
        margin-left: 6vw;
        border-radius: 20px 20px;
        padding-bottom: 3vh;
    }
    nav h2{
        font-size: 19px;
        margin-left: 5vw;
        padding-top: 1vh;
    }

    .working-cards{
        margin-left: 15vw;
        width: 65%;
        align-content: center;
    }

    .working-cards p{
        font-size: 18px;
        margin-top: -3.8vh;
    }

    .number{
        margin-left: -2vw;
        width: 3.5vw;
        height: 2.5vh;
    }

    /**MEDIA SECTION**/

    section{
        width: 82%;
        height: 48vh;
        border-radius: 20px 20px;
        margin-left: 4vw;
        margin-top: -5vh;
    }
    section h3{
        margin-left: 4vw;
        margin-top: -2vh;
    }
    .places{
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        margin-left: 1vw;
    }
    .places-2{
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        margin-left: 1vw;
    }
    .restaurant-title{
        font-size: 17px;
        margin-left: 1vw;
    }
    
    .places-cards{
        margin-bottom: 3vh;
        width: 35vw;
        height: 17vh;
    }
    .places-img{
        width: 35vw;
        height: 11vh;
    }

    .icons{
        width: 2vw;
        height: 2vh;
        margin-left: 28vw;
        margin-top: -3.8vh;
    }

    .places__effect{
        width: 10vw;
        height: 3vh;
        margin-left: 22vw;
        margin-top: -14vh;
    }

    .effect__p{
        margin-left: 1vw;
    }


    /**FOOTER TABLETTE**/

    footer{
        width: 82%;
        height: 25vh;
        margin-left: 4vw;
        margin-top: 1vh;
        margin-bottom: 2vh;
        border-radius: 20px 20px;
    }
    .footer-details{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        margin-left: 0vw;
        margin-top: 2vh;
    }
}


/**MEDIA DESKTOP**/
@media screen and (min-width: 1200px){
/**SPINNER DESKTOP**/
svg{
  
    position: fixed;
    top: 40%; left:46%;
    width: 150px;
    height: 150px;
    animation: rotate 2s linear infinite;
  }

  /**BODY DESKTOP**/
    body{
        background: #fff;
    }
    /**DESKTOP HEADER**/
.logo{
 border-radius: 20px 20px 0 0;
 margin-left: 25vw;
 margin-bottom: -3vh;
 background-color: #fff;
}

.svg-logo{
    width: 20%;
    margin-left: 15vw;
    margin-top: 2vh;
}

.location{
    margin-top: 3vh;
    margin-left: 25vw;
    width: 50vw;
    height: 7vh;
    border: 20px 20px ;
}

.location p{
    margin-bottom: 10vh;
    margin-left: 19vw;
    font-size: 18px;
}

.info-header{
    width:50vw;
    margin-left: 25vw;
    border-radius: 0 0 20px 20px;
}
.info-title{
    margin-left: -1vw;
    
}

.info-details{
    margin-left: 0vw;
}

.explore-btn{
    width: 15vw;
    margin-left: -6vw;
    font-weight: bold;
}

/**DESKTOP NAV**/
nav{
    border-radius: 20px 20px;
    margin-top: 0vh;
    background-color: #fff;
    width: 50vw;
    height: 35vh;
    margin-left: 25vw;
    margin-top: -0.7vh;
}
nav h2{
    margin-left: 5vw;
}
.working-cards{
    width: 20vw;
    margin-left: 15vw;
}

.working-cards p{
    margin-top: -5vh;
    margin-left: 6vw;
}

.working-cards i{
    margin-right: 2vw;
}

.number{
    width: 1.8vw;
    height: 3.5vh;
    margin-left: -1vw;
    align-content: center;
    line-height: 3.5vh;
}

/**SECTION DESKTOP**/

section{
    height: 65vh;
    margin-bottom: 0vh;
    width: 50vw;
    margin-left: 25vw;
    margin-top: -6vh;
    border-radius: 20px 20px;
}

.restaurant-title{
    margin-left: 1vw;
}
.places-cards{
    width: 18vw;
    height: 23vh;
    margin-left:4vw;
}

.places-img{
    width: 18vw;
    height: 15vh;
}

.icons{
margin-left: 13vw;
margin-bottom: 3vh;
}

.places__effect{
    width: 5vw;
    height: 3vh;
    margin-left: 10.5vw;
    margin-top: -21vh;
}

.effect__p{
    margin-left: 0.8vw;
    margin-top: 0vh;
}

/**FOOTER DESKTOP**/

footer{
    width: 50vw;
    height: 15vh;
    margin-left: 25vw;
    border-radius: 20px 20px;
    margin-top: 1vh;
}
.footer-header{
    margin-left: 5vw;
    font-size: 20px;
}
.footer-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 40vw;
    margin-top: 0vh;
    margin-left: 5vw;
    font-weight: bolder;
}

.end i{
    margin-right: 0.2vw;
}

}


