a{
    text-decoration: none;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




  
/**FOOD CARD EFFECT**/

.food__card
{
    display: block;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    from {
        
        opacity: 0;
    }

    to {
        
        opacity: 1;
    }
}

/**HEADER**/
.back{
    display: block;
    margin-left: 5vw;
    font-size: 20px; 
    color: #333333;
}
.svg-logo{
    display: block;
    margin-top: -4.5vh;
    margin-left: 20vw;
    margin-bottom: 1vh;
}

.background{
    z-index: 1;
}

.background__img{
    object-fit: cover;
    z-index: 1;
    width: 100%;
}
 
/**MAIN**/
main{
background-color: #f6f6f6;
border-radius: 20px 20px 0 0;
width: 100%;
height: auto;
display: block;
margin-top: -7vh;
position: relative;
z-index: 2;
}

.menu{
    z-index: 2;
}

/**MENU--2 / LA NOTE ENCHANTEE**/
.menu--2{
    background-color: #f6f6f6;
    border-radius: 20px 20px 0 0;
    height: 176vh;
}
/**-------------------**/

.food{
    margin-left: 5vw;
}

.menu__title{
    font-family: shrikhand;
    font-size: 12px;
    padding-top: 1vh;
    margin-left: 5vw;
}

.heart__food{
    margin-left: 78vw;
    margin-top: -7vh;
    font-size: 21px;
}

.heart__food:hover{
    font-weight: bold;
    transition: 0.2s;
    color: #9356DC;
}


.food__title{
font-size: 10px;
width: 20%;
margin-bottom: 3vh;
margin-top: 5vh;
margin-left: 1vw;
border-bottom: 3px solid #99E2D0;
}

.food__card{
    display: flex;
    border: 2px solid #fff;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 5px 10px #CDCDCD;
    background-color: #fff;
    width: 95%;
    height: auto;
    margin-bottom: 2vh;
}

.food__card h3{
    font-size: 15px;
    font-weight: bold;
    text-overflow: ellipsis;
}

.title__delice{
    font-size: 14.4px;
}

.food__more{
    display: flex;
    height: 6vh;
    justify-content: space-between;
    overflow: hidden;
    margin-top: -1vh;
}

.food__more p{
    text-overflow: ellipsis;
    line-height: 4vh;
    font-size: 13px;
}


.food__details{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: auto;
    font-size: 14px;
    margin-left: 3vh;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 0vh;
    }

    .food__details h3{
        display: block;
        margin-top: 2vh;
        margin-bottom: 0.5vh;
    }

    .food__price{
        font-weight: bold;
        padding-right: 4vw;
    }

    .food__effect{
    width: 0;
    background-color: #99E2D0;
    border-radius: 0 15px 15px 0;
    transform: scaleX(0);
    transition: 0.4s;
    opacity: 1;
 }

 .food__card:hover .food__effect {
    border: 2px #99E2D0;
    width: 25%;
    background-color: #99E2D0;
    border-radius: 0 15px 15px 0;       
    transform: scaleX(1);
}
    .check{
        font-size: 1.1em;
        color: white;
        transition: 0.5s;
        text-align: center;
        margin-left: 5vw;
        margin-top: 3vh;
    }

    .food__card:hover .check{
        transform: rotate(360deg);
        transition: 0.5s;
    }

/**FOOD BTN**/

.btn{
    margin-left: 25vw;
    margin-top: 6vh;
    padding-bottom: 3vh;
}
.btn__order{
    font-size: 14px;
    width: 65%;
    height: 40px;
    color: #fff;
    background-image: linear-gradient(to bottom right,#FF79DA,#9356DC) ;
    border-radius: 20px;
    border: none;
    box-shadow: 0 4px 10px #A9A9A9;
    cursor: pointer;
}
/**BTN--2/LA NOTE ENCHANTEE**/
.btn--2{
    margin-left: 65%;
    padding-top: 4.5vh;
}
/**------------**/

/**FOOTER**/

footer{
    background-color: #353535;
    color: #fff;
    width: 100%;
    height: 23vh;
    margin-top: -4vh;
}

footer a{
    color: #fff;
    font-size: 14px;
}

.footer-header{
    font-family: shrikhand;
    font-size: 16px;
    font-weight: lighter;
    margin-left: 4vw;
    padding-top: 2vh;
}

.footer-details{
    margin-left: 4vw;
    margin-top: -3vh;
}


/**TABLETTE**/ 

@media screen and (min-width: 768px) {

    body{
        background: #fff ;
        margin-left: -3.5vw;
    }

    .back{
        font-size: 22px;
        margin-left: 10vw;
    }

    .logo{
        margin-left: 9vw;
        border-radius: 20px 20px 0 0;
        width: 80vw;
        margin-top: -4vh;
        }

        .svg-logo{
            margin-top: 1vh;
            margin-left: 27vw;
        }

        /**IMAGE TABLETTE**/

        .background__img{
            width: 100%;
            margin-left: 9vw;
            border-radius: 20px 20px;
        }

        /**MENU TABLETTE**/

        main{
            width: 79%;
            margin-left: 9vw;
            margin-top: 1vh;
            border-radius: 20px 20px;
        }
        
        .menu{
            height: 125vh;
        }

        .menu--2{
            height: 120vh;
            border-radius: 20px 20px;
        }

        .heart__food{
            margin-left: 68vw;
            margin-top: -5vh;
            font-size: 30px;
        }

        .food__card{
            width: 75%;
            height: auto;
            margin-left: 6vw;
            
        }

        .food__details{
            margin-top: -0.5vh;
            
        }


        .food__more{
            margin-top: -2vh;
            text-overflow: ellipsis;
        }

        .food__card--2{
            width: 50vw;
            height: 5vh;
            margin-left: 10vw;
            
        }

        .btn{
            margin-left: 20vw;
        }
        .btn--2{
            margin-left: 20vw;
        }

        .check{
            margin-top: 2vh;
            margin-left: 4.5vw;
        }

       

        /**FOOTER TABLETTE**/ 

        footer{
            width:80vw;
            margin-left: 9vw;
            border-radius: 20px 20px;
            margin-top: 1vh;
            line-height: 1.5vh;
        }

        .footer-details{
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            margin-left: 0vw;
            margin-top: 0.5vh;
        }
    
}

@media screen and (min-width: 1200px){
    body{
        margin-left: 0vw;
    }
    /**HEADER DESKTOP**/
    .back{
        margin-left: 30vw;
        margin-bottom: -7vh;
    }
    .logo{
        border-radius: 20px 20px 0 0;
        width: 50vw;
        margin-left: 25vw;
       }
       .svg-logo{
        width: 19vw;
        margin-left: 15vw;
        margin-top: 4vh;
    }

    .background__img{
        width: 40vw;
        margin-left: 30vw;
    }

    /**MENU DESKTOP**/

    main{
        width: 40vw;
        margin-left: 30vw;
    }
    
    .menu{
        height: 115vh;
    }

    .heart__food{
        margin-left: 33vw;
        font-size: 30px;
    }

    .food__card{
        width: 20vw;
        margin-left: 5vw;
        margin-right: 10vw;
    }
    .food__price{
        margin-left: 15vw;
    }

    
    .food__effect{
        width: 0;
        margin-top: -6.2vh;
        margin-left: 17.2vw;
        height: 5.5vh;
    }

    .food__card:hover .food__effect{
        width: 3vw;
    }

    .check{
        font-size: 1.1em;
        color: white;
        transition: 0.5s;
        text-align: center;
        margin-left: 1vw;
        margin-top: 2vh;
    }
    .food__card:hover .check{
        transform: rotate(360deg);
        transition: 0.5s;
    }

    .btn--2{
        margin-left: 12vw;
    }

    .btn{
        margin-left: 12vw;
    }
    .btn__order{
        width: 15vw;
    }

    /**DESKTOP FOOTER**/
    footer{
        width: 40vw;
        height: 15vh;
        margin-left: 30vw;
    }

    .footer-header{
        margin-left: 4.2vh;
    }
}
